@import url(reset.css);

.clear {
	clear: both;
}

body {
	color: #404040;
	text-align: left;
	font-size: 1em;
	background: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: url(../img/header_main.jpg) center center no-repeat;
	color: #fff;
	text-align: center;
	background-size: cover;	
	padding: 135px 20px 90px 20px;
	
}

header>h1 {
	font-size: 3.75em;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 160px;
   margin-top: -60px;
   padding-right: 120px;
}


header>h3 {
	font-size: 1.125em;
	text-align: right;
	margin-bottom: 50px;
	font-style: italic;
}

header>p {
	font-size: 0.75em;
}


/* form styles */



article {
	width: 1100px;
	margin: 0 auto;
	padding: 25px 20px;
	height: auto;
}

article h1 {
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 25px;
}

article p {
	margin-bottom: 30px;
	text-indent: 20px;
}

.kolya {
	float: left;
	margin: 0 30px 20px 0;
	border-radius: 10px;
}

.andrii {
	float: right;
	margin: 0 0px 20px 30px;
	border-radius: 10px;
}


/*footer styles*/

footer {
	background: url(../img/footer_main.jpg) center center no-repeat;
	margin-top: 50px;
	padding: 135px 20px 75px 20px;
	color: #fff;
	background-size: cover;		
}

footer ul li {
	display: inline-block;
	margin-left: 10px;
}
footer p {
	float: right;
	font-size: 0.75em;
}

.social {
	    padding: 20px 0 -10px 20px;
}


/******media ******/

@media screen and (max-width: 950px) {
	.subscribe input[type="text"], 
   .subscribe input[type="email"] {
   	width: 260px;
   }
	article {
	width: 900px;
	margin: 0 auto;
	padding: 25px 20px;
	height: auto;
	}

}

@media screen and (max-width: 820px){
 	.subscribe input[type="text"], 
   .subscribe input[type="email"] {
   	width: 320px; 
   	display: block; 
   	float: none;
   	margin-right: 0;
   	margin-bottom: 10px;
   }

   header {
   	padding: 30px 20px;
   }

   header>h1 {
	font-size: 2.75em;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 22px;
	}
		
	header>h3 {
	font-size: 1.125em;
	margin-bottom: 25px;
	font-style: italic;
	}
}

@media screen and (max-width: 650px) {
	article {
	width: 400px;
	margin: 0 auto;
	padding: 25px 20px;
	height: auto;
	}
}

@media screen and (max-width: 450px) {
	article {
	width: 300px;
	margin: 0 auto;
	padding: 25px 20px;
	height: auto;
	}
}

@media screen and (max-width: 400px) {
	.subscribe input[type="text"], 
   .subscribe input[type="email"] {
   	width: 240px;
   }
}